img {
    width: 100%;
    height: 550px;
    object-fit: cover;
} 
.navbar-nav .nav-link.custom-nav-link {
    color: #FFA500 !important;
    font-weight: bold;
}
.navbar-toggler-icon {
    background-color: #FFA500; /* Change this to the desired color */
}

.custom-bg {
    background-color: #eba063; /* Light orange background color */
}
/* body {
    overflow-x: hidden;
}
  */


   /* top universities CSS */
   .fw-bold {
    font-family: Roboto Slab;
  }
  .testimonial-slider {
  background-color: #ecaf93;
  padding: 2em 2em 2em;
  }
  .testimonial-title {
  color: #af8266;
  }
  .testimonial-title h2 {
  padding-left: 0.2em;
  }
  .card-u {
  margin: 0 0.5em; 
  border: none;
  height: 100%;
  }
  
  .coro-prev,
  .coro-next {
  /* background-color: #af8266; */
  width: 1em;
  height: 1em;
  border-radius: 50%;
  line-height: 3em;
  color: rgba(9, 9, 9, 0.8);
  }
  
  
  /* Styles for small screens 780*/
  @media (max-width: 780px) {
  .coro-prev,
  .coro-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  }
  
  /* Styles for larger screens */ 
  @media (min-width: 781px) {
  .carousel-item-in {
    margin-right: 3%;
    flex: 0 0 31%; /* Adjusted the width to leave space for the controls */
    display:block;
  }
  
  .carousel-innerPart {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items in the flex container */
  }
  
  .coro-prev,
  .coro-next {
    opacity: 100;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
  }
  
  .coro-prev {
    left: 1em;
  }
  
  .coro-next {
    right: 1em;
  }
  
  /* Center the buttons horizontally in the middle */
  .coro-prev, .coro-next {
    top: calc(70% - 1.5em); /* Adjusted to center the buttons */
  }
  }
  
  
  :root {
  --font: "Roboto", sans-serif;
  --fontOrigin: 1rem;     /* 16px */
  --fontSmall: 0.625em;   /* 10px */
  --fontMedium: 0.875em;  /* 14px */
  --fontNormal: 1em;      /* 16px */
  --fontLarge:  1.375em;  /* 22px */
  --fontLight: 100;
  --fontRegular: 400;
  --speed: 0.65s;
  }
  
  @keyframes zoom {
  from {
    object-position: 0 50%;
  }
  to {
    object-position: 100% 50%;
  }
  }
  
  /* 
   
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  } */
  
  .sample-body {
  font-family: var(--font);
  font-weight: var(--fontOrigin);
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.005rem;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  }
  
  
  
  .card-u{
  
  position: relative;
  grid-area: card;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  display: block;
  width: 100%;
  max-width: 250px;
  height: 400px;
  font-size: var(--fontOrigin);
  border-radius: 25px;
  /* box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3); */
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  }
  
  .card-u:hover {
  /* box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6); */
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  }
  
  .card__save {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  opacity: 0;
  border-radius: 3px;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  }
  
  .card__save:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0);
  }
  
  .card-u:hover .card__save {
  opacity: 0.6;
  }
  
  .card__save i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  }
  
  .card__save:hover i {
  color: rgba(255, 255, 255, 0.8);
  }
  
  .card__save:active,
  .card__save.active {
  opacity: 1 !important;
  }
  
  .card__save:active i,
  .card__save.active i {
  color: white;
  }
  
  .card__image {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  }
  
  .card__image img {
  -webkit-transform: scale(1.3, 1.3);
  opacity: 1;
  transform: scale(1.3, 1.3);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  animation-name: zoom;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  }
  
  .card-u:hover .card__image img {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
  }
  
  .card__header {
  display: grid;
  width: 100%;
  height: 200px;
  }
  
  .card__profile {
  align-self: center;
  justify-self: center;
  display: block;
  overflow: hidden;
  width: 10vmax;
  height: 10vmax;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  }
  
  .card__profile img {
  -webkit-transform: scale(1.5, 1.5)  translateZ(0);
  transform: scale(1.5, 1.5)  translateZ(0);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  mix-blend-mode: normal;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
  
  .card-u:hover .card__profile img {
  -webkit-transform: scale(1, 1)  translateZ(0);
  transform: scale(1, 1)  translateZ(0);
  }
  
  .card__body {
  display: grid;
  padding: 0 20px;
  }
  
  .card__name {
  align-self: center;
  justify-self: center;
  margin-bottom: 2px;
  font-weight: bold;
  z-index: 1;
  color: rgb(0, 0, 0);
  /* color: rgb(255, 255, 255); */
  font-size: var(--fontLarge);
  font-weight: var(--fontLight);
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.35);
  text-shadow: 1px 1px 2px #ffffff;
  background: -webkit-linear-gradient(white, #ffffff);
  /* background: -webkit-linear-gradient(white, #a1a1a1); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  }
  
  .card-u:hover .card__name {
  /* background: -webkit-linear-gradient(rgb(0, 0, 0), #ffffff); */
  background: -webkit-linear-gradient(white, #c1c1c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  .card__job {
  align-self: center;
  justify-self: center;
  display: inline-block;
  font-size: var(--fontSmall);
  font-weight: var(--fontLight);
  text-align: center;
  letter-spacing: 0.35rem;
  color: rgba(100, 130, 200, 0.45);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  }
  
  .card-u:hover .card__job {
  color: rgb(0, 0, 0);
  }
  
  .card__bio {
  /* position: relative; */
  position: center;
  align-items: center;
  text-align: center;
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
  display: block;
  text-decoration: solid;
  margin: 22px 0 16px 0;
  font-size: var(--fontMedium);
  font-weight: bold;
  /* font-weight: var(--fontLight); */
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);
  color: rgba(255, 255, 255, 0.65);
  text-shadow: 1px 1px 2px #0d0d0d;
  opacity: 150px;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  }
  
  .card-u:hover .card__bio {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  }
  
  .card__footer {
  position: relative;
  -webkit-transform: translateY(60%);
  transform: translateY(60%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "date category";
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  }
  
  .card-u:hover .card__footer {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  }
  
  .card__date {
  grid-area: date;
  /* display: inline-block;
  align-self: left;
  justify-self: left; */
  display: block;
  align-self: right;
  justify-self: right;
  font-size: var(--fontSmall);
  font-weight: var(--fontLight);
  text-transform: uppercase;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
  color: rgba(250, 250, 250, 0.4);
  }
  
  /* MODIFIERS */
  .card-u[data-effect="blur"]:hover .card__image img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  }
  
  .card-u[data-effect="blur"] .card__image img {
  animation-name: blur;
  }
  
  .card-u[data-effect="color"]:hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  box-shadow: 0 40px 260px rgba(255, 0, 0, 0.1), 0 40px 130px rgba(250, 100, 100, 0.2), -80px -40px 230px rgba(0, 200, 250, 0.15), 80px 40px 230px rgba(120, 120, 255, 0.15);
  }
  
  .card-u[data-effect="color"] .card__image {
  background: linear-gradient(to bottom, rgba(20, 20, 100, 1), rgba(255, 100, 100, 0.5))
  }
  
  .card-u[data-effect="color"]:hover .card__image img {
  opacity: 0.8;
  }
  
  .card-u[data-effect="color"]:hover .card__profile img {
  -webkit-filter: grayscale(50%) contrast(80%) brightness(1.6);
  filter: grayscale(50%) contrast(80%) brightness(1.6);
  mix-blend-mode: normal;
  }
  
  
  .anchor-tag{
  /* to make it center: */
     position: absolute; 
     top: 50%; 
     left: 50%;  
     transform: translate(-50%,-50%); 
     /**********************/
     width: 150px; 
     height: 40px;
     line-height: 40px; 
     background: transparent; 
     text-align: center; 
     text-transform: uppercase; 
     text-decoration: none;
     letter-spacing: 4px; 
     font-family:sans-serif;
     
     /* color: #262626; */
     color: #ffffff;
     overflow: hidden;
   }
   
   .anchor-tag span {
  display: block;
     /* background: #262626; */
     background: #ffffff;
     transition: .2s; 
     color: #f9f9f9;
  
  }
  
  .anchor-tag span:nth-child(1), 
  .anchor-tag span:nth-child(3) 
  {
  position: absolute; 
     height: 2px; 
     width: 100%; 
  }
  
  .anchor-tag span:nth-child(2), 
  .anchor-tag span:nth-child(4) 
  {
  position: absolute; 
     height: 100%; 
     width: 2px; 
  }
  
  /*** nth child alone ******/
  .anchor-tag span:nth-child(1) { 
  top: 0; 
     left: -100%;
     transition-delay: 0s; 
  }
  
  .anchor-tag span:nth-child(2) { 
  top: -100%; 
     right: 0;
     transition-delay: .2s; 
  }
  
  .anchor-tag span:nth-child(3) { 
  bottom: 0; 
     right: -100%;
     transition-delay: .4s; 
  }
  
  .anchor-tag span:nth-child(4) { 
  bottom: -100%; 
     left: 0;
     transition-delay: .6s; 
  }
  /**** hover **********/
  .anchor-tag:hover{
  color: #ffffff;
  }
  .anchor-tag:hover span:nth-child(1) { 
  top: 0; 
     left: 0;
     color: #f9f9f9;
  }
  
  .anchor-tag:hover span:nth-child(2) { 
  top: 0; 
     right: 0;
  }
  
  .anchor-tag:hover span:nth-child(3) { 
  bottom: 0; 
     right: 0;
  }
  
  .anchor-tag:hover span:nth-child(4) { 
  bottom: 0; 
     left: 0;
  }


      /* Students review css */
      .wrapper{

        width: 100%;
        height: 100%;
        background: rgb(244, 185, 137);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .wrapper h1{
        padding: 1rem;
        font-size: xx-large;
    }
    .reviews-card{
        display: flex;
        gap: 6rem;
        justify-content: space-around;
        padding:3rem;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .review{
        background: white;
        width: 18rem;
        height: 22rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3rem;
        position: relative;
        gap: 0rem;
    }
    .avatar{
        position: absolute;
        top: -10px;
        border-radius: 100%;
        padding: 1rem;
        top:-4rem;
        
        
       }
      .avatar img{
        border-radius: 100%;
         width: 7rem;
         height: 7rem;
         object-fit: fill;
         border: 8px solid white;
       }
       #left-quote{
        position: absolute;
        top: 0px;
        left: 0rem;
        color: orange;
        transform: scale(3);
    }
    #right-quote{
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: orange;
        transform: rotateY(180deg);
        scale: 3;
    }
    .text-content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-inline: 1.5rem;
        text-align: center;
        margin-top: 2rem;
    }
    .stars{
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: center;
        scale: 1.6;
        color: rgb(255, 206, 12);
    } 
    @media only screen and (max-width: 600px) {
        .reviews-card{
           display: flex;
           flex-direction: column;
           padding-top: 2rem;
        }
      }