/* @font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
} */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@100&family=Rubik:ital,wght@1,600&display=swap'); */
img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
.navbar-nav .nav-link.custom-nav-link {
  color: #D8A883 !important;
  /* color: #E68A43 !important; */
  font-weight: bold;
  font-family: display;
}
.navbar-toggler-icon {
  background-color: #D8A883 !important;
  /* background-color: #ffa500 !important; */
}

/* meet our mentor */
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
  font-family: display;
}

figure {
  margin: 0;
}
@media (max-width:455px) {
  .heading {
      font-size: 1.5rem;
  }

  .sub-heading {
      font-size: 1.2rem;
  }

  .textname,
  .textpara {
      font-size: 0.8rem;
  }

  .icons {
      width: 20px;
      height: 20px;
  }

}
.mentorcard{
  margin-left: 2rem;
  margin-right: 2rem;
}
figure.photo {
  font-family: display;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.photo * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.photo img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.photo figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.photo h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.photo h2 span {
  font-weight: 800;
}

figure.photo:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.photo.blue {
  background: #123851;
}

figure.photo.blue h2 {
  background: #0a212f;
}

figure.photo.red {
  background: #581a14;
}

figure.photo.red h2 {
  background: #36100c;
}

figure.photo.yellow {
  background: #7f5006;
}

figure.photo.yellow h2 {
  background: #583804;
}

figure.photo:hover img,
figure.photo.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.photo:hover h2,
figure.photo.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.photo:hover:before,
figure.photo.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

.icons {
  width: 30px;
  height: 30px;
}
.profile {
  max-height: 250px;
}
.socialbtn {
  border: 1.6px solid #D8A883;
  /* border: 1.6px solid orange; */
  padding: 1.3rem;
  border-radius: 4px;
}
.socialbtn:hover {
  background-color: orange;
}
.textname {
  text-align: center;
  color: #383a65;
  font-family: display;
  font-weight: 700;
  animation: pulse 5s infinite;
}
.textpara:hover,
.textname:hover {
  transform: scale(1.03);
}
.textpara {
  color: rgb(71, 70, 70);
  text-align: center;
  font-family: display;
  /* font-family: "Quicksand", sans-serif; */
}

.about {
  font-family: display;
  background-color: #D8A883;
  /* background-color: #fbceb1; */
  padding: 2rem;
  text-align: justify;
  color: black;
  line-height: 1.2; /* Adjust the line-height as needed */
  letter-spacing: -1px; /* Adjust the letter-spacing as needed */
}


.about-cards {
  padding-top: 5rem;
  background: #daa06d;
  border-radius: 20px;
  font-size: 20px;
}

/* .about-text{
  padding:3rem;
} */


/* top universities CSS */
.fw-bold {
  font-family: display;
  /* font-family: Roboto Slab; */
}
.testimonial-slider {
  background-color: #D8A883;
/* background-color: #ecaf93; */
padding: 2em 2em 2em;
}
.testimonial-title {
  color: #D8A883;
/* color: #af8266; */
}
.testimonial-title h2 {
padding-left: 0.2em;
}
.card-u {
margin: 0 0.5em; 
border: none;
height: 100%;
}

.coro-prev,
.coro-next {
/* background-color: #af8266; */
width: 1em;
height: 1em;
border-radius: 50%;
line-height: 3em;
color: rgba(9, 9, 9, 0.8);
}


/* Styles for small screens 780*/
@media (max-width: 780px) {
.coro-prev,
.coro-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
}

/* Styles for larger screens */ 
@media (min-width: 781px) {
.carousel-item-in {
  margin-right: 3%;
  flex: 0 0 31%; /* Adjusted the width to leave space for the controls */
  display:block;
}

.carousel-innerPart {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center align items in the flex container */
}

.coro-prev,
.coro-next {
  opacity: 100;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
}

.coro-prev {
  left: 1em;
}

.coro-next {
  right: 1em;
}

/* Center the buttons horizontally in the middle */
.coro-prev, .coro-next {
  top: calc(70% - 1.5em); /* Adjusted to center the buttons */
}
}


:root {
  --font : "display";
/* --font: "Roboto", sans-serif; */
--fontOrigin: 1rem;     /* 16px */
--fontSmall: 0.625em;   /* 10px */
--fontMedium: 0.875em;  /* 14px */
--fontNormal: 1em;      /* 16px */
--fontLarge:  1.375em;  /* 22px */
--fontLight: 100;
--fontRegular: 400;
--speed: 0.65s;
}

@keyframes zoom {
from {
  object-position: 0 50%;
}
to {
  object-position: 100% 50%;
}
}

/* 
 
border: 0;
margin: 0;
padding: 0;
box-sizing: border-box;
} */

.sample-body {
font-family: var(--font);
font-weight: var(--fontOrigin);
font-size: 1rem;
line-height: 1.2;
letter-spacing: 0.005rem;
-webkit-font-smoothing: subpixel-antialiased;
font-smoothing: subpixel-antialiased;
}



.card-u{

position: relative;
grid-area: card;
align-self: center;
justify-self: center;
overflow: hidden;
display: block;
width: 100%;
max-width: 250px;
height: 400px;
font-size: var(--fontOrigin);
border-radius: 25px;
/* box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3); */
cursor: pointer;
-webkit-transition: all var(--speed) ease;
transition: all var(--speed) ease;
}

.card-u:hover {
/* box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6); */
-webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}

.card__save {
position: absolute;
top: 10px;
right: 10px;
display: block;
width: 35px;
height: 35px;
background: transparent;
border: 0;
opacity: 0;
border-radius: 3px;
-webkit-transition: all var(--speed) ease;
transition: all var(--speed) ease;
}

.card__save:focus {
outline: 0;
background-color: rgba(255, 255, 255, 0);
}

.card-u:hover .card__save {
opacity: 0.6;
}

.card__save i {
font-size: 18px;
color: rgba(255, 255, 255, 0.6);
cursor: pointer;
-webkit-transition: all var(--speed) ease;
transition: all var(--speed) ease;
}

.card__save:hover i {
color: rgba(255, 255, 255, 0.8);
}

.card__save:active,
.card__save.active {
opacity: 1 !important;
}

.card__save:active i,
.card__save.active i {
color: white;
}

.card__image {
opacity: 1;
position: absolute;
top: 0;
left: 0;
/* z-index: -1; */
overflow: hidden;
display: block;
width: 100%;
height: 100%;
pointer-events: none;
background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.card__image img {
-webkit-transform: scale(1.3, 1.3);
opacity: 1;
transform: scale(1.3, 1.3);
display: block;
width: 100%;
height: 100%;
object-fit: cover;
opacity: 1;
-webkit-transition: all var(--speed) ease;
transition: all var(--speed) ease;
animation-name: zoom;
animation-duration: 30s;
animation-direction: alternate;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

.card-u:hover .card__image img {
-webkit-transform: scale(1, 1);
transform: scale(1, 1);
opacity: 1;
}

.card__header {
display: grid;
width: 100%;
height: 200px;
}

.card__profile {
align-self: center;
justify-self: center;
display: block;
overflow: hidden;
width: 10vmax;
height: 10vmax;
max-width: 100px;
max-height: 100px;
border-radius: 50%;
}

.card__profile img {
-webkit-transform: scale(1.5, 1.5)  translateZ(0);
transform: scale(1.5, 1.5)  translateZ(0);
display: block;
width: 100%;
height: 100%;
object-fit: cover;
object-position: 50% 50%;
-webkit-transition: all var(--speed) ease;
transition: all var(--speed) ease;
mix-blend-mode: normal;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.card-u:hover .card__profile img {
-webkit-transform: scale(1, 1)  translateZ(0);
transform: scale(1, 1)  translateZ(0);
}

.card__body {
display: grid;
padding: 0 20px;
}

.card__name {
align-self: center;
justify-self: center;
margin-bottom: 2px;
font-weight: bold;
z-index: 1;
color: rgb(0, 0, 0);
/* color: rgb(255, 255, 255); */
font-size: var(--fontLarge);
font-weight: var(--fontLight);
letter-spacing: 0.1rem;
text-align: center;
text-transform: uppercase;
text-shadow: 0 1px 2px rgba(255, 255, 255, 0.35);
text-shadow: 1px 1px 2px #ffffff;
background: -webkit-linear-gradient(white, #ffffff);
/* background: -webkit-linear-gradient(white, #a1a1a1); */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-transition: all var(--speed) ease;
transition: all var(--speed) ease;
}

.card-u:hover .card__name {
/* background: -webkit-linear-gradient(rgb(0, 0, 0), #ffffff); */
background: -webkit-linear-gradient(white, #c1c1c1);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.card__job {
align-self: center;
justify-self: center;
display: inline-block;
font-size: var(--fontSmall);
font-weight: var(--fontLight);
text-align: center;
letter-spacing: 0.35rem;
color: rgba(100, 130, 200, 0.45);
-webkit-transition: all var(--speed) ease;
transition: all var(--speed) ease;
}

.card-u:hover .card__job {
color: rgb(0, 0, 0);
}

.card__bio {
/* position: relative; */
position: center;
align-items: center;
text-align: center;
-webkit-transform: translateY(30%);
transform: translateY(30%);
display: block;
text-decoration: solid;
margin: 22px 0 16px 0;
font-size: var(--fontMedium);
font-weight: bold;
/* font-weight: var(--fontLight); */
text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);
color: rgba(255, 255, 255, 0.65);
text-shadow: 1px 1px 2px #0d0d0d;
opacity: 150px;
-webkit-transition: all var(--speed) ease;
transition: all var(--speed) ease;
}

.card-u:hover .card__bio {
-webkit-transform: translateY(0);
transform: translateY(0);
opacity: 1;
}

.card__footer {
position: relative;
-webkit-transform: translateY(60%);
transform: translateY(60%);
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-areas: "date category";
padding: 10px 20px;
opacity: 0;
-webkit-transition: all var(--speed) ease;
transition: all var(--speed) ease;
}

.card-u:hover .card__footer {
-webkit-transform: translateY(0);
transform: translateY(0);
opacity: 1;
}

.card__date {
grid-area: date;
/* display: inline-block;
align-self: left;
justify-self: left; */
display: block;
align-self: right;
justify-self: right;
font-size: var(--fontSmall);
font-weight: var(--fontLight);
text-transform: uppercase;
text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
color: rgba(250, 250, 250, 0.4);
}

/* MODIFIERS */
.card-u[data-effect="blur"]:hover .card__image img {
-webkit-filter: blur(3px);
filter: blur(3px);
}

.card-u[data-effect="blur"] .card__image img {
animation-name: blur;
}

.card-u[data-effect="color"]:hover {
-webkit-transform: scale(1, 1);
transform: scale(1, 1);
box-shadow: 0 40px 260px rgba(255, 0, 0, 0.1), 0 40px 130px rgba(250, 100, 100, 0.2), -80px -40px 230px rgba(0, 200, 250, 0.15), 80px 40px 230px rgba(120, 120, 255, 0.15);
}

.card-u[data-effect="color"] .card__image {
background: linear-gradient(to bottom, rgba(20, 20, 100, 1), rgba(255, 100, 100, 0.5))
}

.card-u[data-effect="color"]:hover .card__image img {
opacity: 0.8;
}

.card-u[data-effect="color"]:hover .card__profile img {
-webkit-filter: grayscale(50%) contrast(80%) brightness(1.6);
filter: grayscale(50%) contrast(80%) brightness(1.6);
mix-blend-mode: normal;
}


.anchor-tag{
/* to make it center: */
   position: absolute; 
   top: 50%; 
   left: 50%;  
   transform: translate(-50%,-50%); 
   /**********************/
   width: 150px; 
   height: 40px;
   line-height: 40px; 
   background: transparent; 
   text-align: center; 
   text-transform: uppercase; 
   text-decoration: none;
   letter-spacing: 4px; 
   font-family:sans-serif;
   
   /* color: #262626; */
   color: #ffffff;
   overflow: hidden;
 }
 
 .anchor-tag span {
display: block;
   /* background: #262626; */
   background: #ffffff;
   transition: .2s; 
   color: #f9f9f9;

}

.anchor-tag span:nth-child(1), 
.anchor-tag span:nth-child(3) 
{
position: absolute; 
   height: 2px; 
   width: 100%; 
}

.anchor-tag span:nth-child(2), 
.anchor-tag span:nth-child(4) 
{
position: absolute; 
   height: 100%; 
   width: 2px; 
}

/*** nth child alone ******/
.anchor-tag span:nth-child(1) { 
top: 0; 
   left: -100%;
   transition-delay: 0s; 
}

.anchor-tag span:nth-child(2) { 
top: -100%; 
   right: 0;
   transition-delay: .2s; 
}

.anchor-tag span:nth-child(3) { 
bottom: 0; 
   right: -100%;
   transition-delay: .4s; 
}

.anchor-tag span:nth-child(4) { 
bottom: -100%; 
   left: 0;
   transition-delay: .6s; 
}
/**** hover **********/
.anchor-tag:hover{
color: #ffffff;
}
.anchor-tag:hover span:nth-child(1) { 
top: 0; 
   left: 0;
   color: #f9f9f9;
}

.anchor-tag:hover span:nth-child(2) { 
top: 0; 
   right: 0;
}

.anchor-tag:hover span:nth-child(3) { 
bottom: 0; 
   right: 0;
}

.anchor-tag:hover span:nth-child(4) { 
bottom: 0; 
   left: 0;
}




/*Service Section*/
.service {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: display;
}
.service-section {
/* height: 100vh; */
width: 100%;
display: grid;
place-items: center;
}
.service-section-heading {
  color: #D8A883;
/* color: #daa06d; */
margin-bottom: 50px;
}
.service-row {
display: flex;
flex-wrap: wrap;
}
.service-column {
width: 100%;
padding: 0 1em 1em 1em;
text-align: center;
}
.service-card {
width: 100%;
height: 100%;
padding: 2em 1.5em;
background: linear-gradient(#ffffff 50%, #D8A883 50%);
/* background: linear-gradient(#ffffff 50%, #daa06d 50%); */
background-size: 100% 200%;
background-position: 0 2.5%;
border-radius: 5px;
box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
cursor: pointer;
transition: 0.5s;
}
.service-h3 {
font-size: 20px;
font-weight: 600;
color: #1f194c;
margin: 1em 0;
}
.service-p {
font-family: display;
color: #000000;
font-size: 15px;
line-height: 1.6;
letter-spacing: 0.03em;
text-align: justify;
}
.service-icon-wrapper {
  background-color: #D8A883;
/* background-color: #daa06d; */
position: relative;
margin: auto;
font-size: 30px;
height: 2.5em;
width: 2.5em;
color: #ffffff;
border-radius: 50%;
display: grid;
place-items: center;
transition: 0.5s;
}
.service-card:hover {
background-position: 0 100%;
}
.service-card:hover .icon-wrapper {
background-color: #ffffff;
color: #daa06d;
}
.service-card:hover h3 {
color: #ffffff;
}
.service-card:hover p {
color: #f0f0f0;
}
@media screen and (min-width: 768px) {
.service-section {
  padding: 0 2em;
}
.service-column {
  flex: 0 50%;
  max-width: 50%;
}
}
@media screen and (min-width: 992px) {
.service-section {
  padding: 1em 3em;
}
.service-column {
  flex: 0 0 25%;
  max-width: 25%;
}
}

/* service section end */

/* testimonial */
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.testimonial-container {
  width: 100%;
  background: #D8A883;
  /* background: #fbceb1; */
  margin-top: 20px;
}
.p-comm {
  text-align: justify;
  font-size: 0.9rem;
  gap: 0.1rem;
}
.head-test {
  /* background-color: #D8A883; */
  /* color: rgb(204, 134, 4); */
  font-weight: bold;
}
.core-team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #D8A883;
  /* background: rgba(227, 194, 168, 1); */
}

.card-core-team {
  position: relative;
  width: 300px;
  height: 360px;
  margin: 20px;
}

.card-core-team .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card-core-team .front {
  transform: perspective(600px) rotateY(0deg);
}

.card-core-team .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-core-team .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #000;
  background: rgba(230, 138, 67, 0.7);
  text-align: center;
}

.card-core-team .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgba(216, 168, 131, 1);
  padding: 15px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card-core-team .back .link {
  color: #000;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.social-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(230, 138, 67, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon:hover {
  background-color: rgba(227, 194, 168, 1);
}

.card-core-team .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card-core-team .back p {
  letter-spacing: 1px;
}

.card-core-team:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card-core-team:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.carou-nex,
.carou-previ {
  filter: invert(1) grayscale(100);
}

/* contact us */

/* Import Bootstrap CSS (Add this in the <head> of your HTML document) */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css");

/* Custom Styles */
.contactus-backround {
  background-color: #fae7ce;
}

.ContactUs {
  position: relative;
  padding: 40px 0;
}

.title {
  text-align: center;
}
#info {
  color: rgb(204, 134, 4);
  font-weight: bold;
}

.title h2 {
  color: #110f0f;
  font-weight: 500;
}

.form,
.info,
.map {
  margin-top: 20px;
}

.contact {
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact h3 {
  color: #0e3959;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.formbox {
  width: 100%;
}

.row50 {
  gap: 20px;
}

.inputbox {
  flex-direction: column;
  margin-bottom: 10px;
}

.inputbox input,
.inputbox textarea {
  width: 100%;
}

.inputbox input[type="submit"] {
  max-width: 120px;
}

.info {
  background: #0e3959;
  color: #fff;
}

.infobox div {
  align-items: center;
  margin-bottom: 10px;
}

.infobox div span {
  min-height: 25px;
  height: 20px;
  color: #fff;
  /* background: #18b7ff; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.infobox div p,
.infobox div a {
  font-size: 1.1em;
}

.sci {
  margin-top: 40px;
  display: flex;
}

.sci li {
  margin-right: 15px;
}

.sci li a {
  font-size: 2em;
  color: #ccc;
}

.sci li a:hover {
  color: #fff;
}

.map {
  padding: 20px;
  height: 300px;
}

.map iframe {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .ContactUs {
    padding: 20px;
  }

  .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .map {
    padding: 20px;
    min-height: 300px;
  }
}


/* Student accomplishment  */

.custom-container {
 background: #D8A883;
  /* background: #fbceb1; */
}

.sec-data {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
}
.uperwaliheading {
  /* color: #a06e6a; */
  font-family: display;
}
.headinghai {
  font-family: display;
  font-weight: 800;
  color: #a06e6a;
  /* color: #000; */
}

.swiper-custom {
  width: 100%;
}

.card1 .image1 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.card1 .image1 .img-tag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #000;
}
.card1 {
  position: relative;
  background: #e3ad96;
  border: 3px solid #d99b7d;
  border-radius: 20px;
}

.card1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d99b7d;
  clip-path: circle(55% at 0 0);
  border-top-left-radius: 10px;
}
/* 
.card1:hover::before {
  background: rgb(167, 42, 5);  
} */
.card1:hover {
  background: rgb(233, 140, 97);
}

.card1 .card-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.card1 .social-media {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card1 .social-media i {
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card1 .social-media i:hover {
  color: #0ef;
}

.card1 .name-profession {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  color: #d14b4b;
}
.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}
.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}
.card1 .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}
.card1 .rating i {
  font-size: 18px;
  color: gold;
  margin: 0 2px;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  background: #cd944f;
  border-radius: 25px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #080501;
}

/*  contact form */
.socials a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

/* -------Floating Buttom--------- */
.floating-icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #4f72e4;
  border-radius: 85%;
  width: 50px;   
  height: 50px;  
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.floating-icon {
  font-size: 30px;
  color: #fff;
  line-height: 50px;  
  text-align: center;  
}

/* footer SECTION  */
/* 
.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 5rem;
}

.social-icons li {
  padding: 2px 5px;
} */




/* body {
  background: #fbfbfd;
} */

.new_footer_area {
  background: #fbfbfd;
}
 

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
color:white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
background-size:100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
background-size:100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

/*************footer End*****************/



/* special section Hemant below about us  */
 
.resourse-section .heading {
  margin-top: 30px;
  font-weight: bolder;
  font-size: 35px;
  text-align: center; /* Center the text */
}

.resourse-section .card-container {
  background-color: #efeeee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 0px;
}

.resourse-section .card {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #f3f5ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.resourse-section .card:hover {
  transform: scale(1.05);
}

.resourse-section .card img {
  width: 100px;
  height: 100px;
  border-bottom: 1px solid #ddd;
}

.resourse-section .card-content {
  padding: 20px;
  text-align: center; /* Center the text */
}

.resourse-section .card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.resourse-section .card-text {
  font-size: 14px;
  color: #555;
}

.resourse-section a {
  color: #e1e0ec;
  position: relative;
  text-decoration: none;
}

.resourse-section a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.resourse-section a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Responsive styles */
@media (max-width: 768px) {
  .resourse-section .card {
      flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .resourse-section .card {
      flex: 0 0 100%;
  }
}



/* Blog */

.read-more-link {
  background-color: orangered;
  color: white;
  border: 1px solid orangered;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.read-more-link:hover {
  background-color: lighten(rgb(12, 169, 180), 20%) !important;
  color: black;
}
.sizee_img{
  width: 100% !important;
  height: 200px !important;
}

/* scroll top */
#btn-back-to-top {
  position: fixed;
  bottom:140px;
  right: 23px;
  display: none;
  width:50px;
	height:50px;
}

/* whatsapp button */
.floating{
	position:fixed;
	width:50px;
	height:50px;
	bottom: 80px;
	right:22px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
