
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

img {
    width: 100%;
    height: 550px;
    object-fit: cover;
} 
.navbar-nav .nav-link.custom-nav-link {
    color: #FFA500 !important;
    font-weight: bold;
}

/* meet our mentor */
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.6rem;
    font-family: "Roboto Slab", serif;
  }
  
  
  figure {
    margin: 0;
  }
  
  figure.photo {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
  figure.photo * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  figure.photo img {
    max-width: 100%;
    position: relative;
    opacity: 0.4;
  }
  
  figure.photo figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  figure.photo h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  figure.photo h2 span {
    font-weight: 800;
  }
  
  figure.photo:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    background: #ffffff;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);
  }
  
  figure.photo.blue {
    background: #123851;
  }
  
  figure.photo.blue h2 {
    background: #0a212f;
  }
  
  figure.photo.red {
    background: #581a14;
  }
  
  figure.photo.red h2 {
    background: #36100c;
  }
  
  figure.photo.yellow {
    background: #7f5006;
  }
  
  figure.photo.yellow h2 {
    background: #583804;
  }
  
  figure.photo:hover img,
  figure.photo.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  figure.photo:hover h2,
  figure.photo.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  }
  
  figure.photo:hover:before,
  figure.photo.hover:before {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%);
  }
  
  .icons {
    width: 30px;
    height: 30px;
  }
  .profile{
    max-height: 250px;
  }
  .socialbtn{
    border: 1.6px solid orange;
  }
  .socialbtn:hover{
    background-color: orange;
  }
  .textname{
    text-align: center;
    color:#383a65;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    animation: pulse 5s infinite;
  }
  .textpara:hover,.textname:hover{
    transform: scale(1.03);
  }
  .textpara{
    color: rgb(71, 70, 70);
    text-align:center;
    font-family: 'Quicksand', sans-serif;
  }


  .about{
    background-color: #FBCEB1;
    padding: 5rem;
    color: black;
  }

  .about-cards{
    padding-top: 5rem;
    background: #DAA06D;
    border-radius: 20px;
    font-size: 20px;
}

/* top universities CSS */
.uni-heading{
  padding: 1rem;
      
    }
    .top-uni-wrapper{
      overflow-x: hidden;
      display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background: white;
    }
    .container {
      max-width: 1200px;
      width: 95%;
    }
    .card{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card img{
      border-radius: 9px;
    }
    .card-num{
      position: absolute;
      z-index: 10;
      color: white;
      font-size:  50px;
      
    }
    .card:hover{
      filter: grayscale(2);
  
    }
    .slider-wrapper {
      position: relative;
    }
    .slider-wrapper .slide-button {
      position: absolute;
      top: 50%;
      outline: none;
      border: none;
      height: 50px;
      width: 50px;
      z-index: 5;
      color: #fff;
      display: flex;
      cursor: pointer;
      font-size: 2.2rem;
      background: orange;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transform: translateY(-50%);
    }
    .slider-wrapper .slide-button:hover {
      background: #404040;
    }
    .slider-wrapper .slide-button#prev-slide {
      left: -25px;
      display: none;
    }
    .slider-wrapper .slide-button#next-slide {
      right: -25px;
    }
    .slider-wrapper .image-list {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 4rem;
      
      font-size: 0;
      list-style: none;
      margin-bottom: 30px;
      overflow-x: auto;
      scrollbar-width: none;
    }
    .slider-wrapper .image-list::-webkit-scrollbar {
      display: none;
    }
    .slider-wrapper .image-list .image-item {
      width: 260px;
      height: 350px;
      object-fit: cover;
      border-radius: 20px;
      border: 12px solid rgb(255, 200, 97);
      cursor: pointer;
    }
  
    .container .slider-scrollbar {
      height: 24px;
      width: 100%;
      display: flex;
      align-items: center;
    }
    .slider-scrollbar .scrollbar-track {
      background: #cccccc;
      width: 100%;
      height: 2px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      position: relative;
    }
    .slider-scrollbar:hover .scrollbar-track {
      height: 4px;
    }
    .slider-scrollbar .scrollbar-thumb {
      position: absolute;
      background: #000000;
      top: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      cursor: grab;
      border-radius: inherit;
    }
    .slider-scrollbar .scrollbar-thumb:active {
      cursor: grabbing;
      height: 8px;
      top: -2px;
    }
    .slider-scrollbar .scrollbar-thumb::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -10px;
      bottom: -10px;
    }
    /* Styles for mobile and tablets */
    @media only screen and (max-width: 1023px) {
      .slider-wrapper .slide-button {
        display: none !important;
      }
      .slider-wrapper .image-list {
        gap: 20px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
      }
      .slider-wrapper .image-list .image-item {
        width: 200px;
        height: 300px;
      }
      .slider-scrollbar .scrollbar-thumb {
        width: 20%;
      }
    }
/* testimonial */
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.testimonial-container{
  width: 100%;
  background: #FBCEB1;
}
.p-comm{
  font-size:0.9rem;
  gap: 0.1rem;
}
.head-test{
  color: rgb(204, 134, 4);
  font-weight: bold;
}
.core-team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgba(227, 194, 168, 1);
}

.card-core-team {
  position: relative;
  width: 300px;
  height: 360px;
  margin: 20px;
}

.card-core-team .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card-core-team .front {
  transform: perspective(600px) rotateY(0deg);
}

.card-core-team .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-core-team .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #000;
  background: rgba(230, 138, 67, 0.7);
  text-align: center;
}

.card-core-team .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgba(216, 168, 131, 1);
  padding: 15px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card-core-team .back .link {
  color: #000;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.social-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(230, 138, 67, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon:hover {
  background-color: rgba(227, 194, 168, 1);
}

.card-core-team .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card-core-team .back p {
  letter-spacing: 1px;
}

.card-core-team:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card-core-team:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(1) grayscale(100);
}


/* footer SECTION  */

.footer{
  background-color: #000000;
  color: #ffffff;
  padding:5rem;
}

.social-icons li{
  padding: 2px 5px;
}