@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7eae4;
}
section {
  position: relative;
  height: 500px;
  width: 1075px;
  display: flex;
  align-items: center;
}
.uperwaliheading {
    color: #a06e6a;
    font-family: Roboto+Slab;
}
.headinghai {
    font-family: Agbalumo;
    color: #000;
}
.swiper {
  width: 950px;
}
.container {
  border-radius: 20px;
}
.card .image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #000;
}
.card {
  position: relative;
  background: #e3ad96;
  border: 3px solid #d99b7d;
  border-radius: 20px;
}
.card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:#d99b7d;
  clip-path: circle(55% at 0 0);
  border-top-left-radius: 10px;
}
.card .card-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.card .social-media {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .social-media i {
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  transition: .3s;
}
.card .social-media i:hover {
  color: #0ef;
}
.card .name-profession {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  color: #fff;
}
.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}
.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}
.card .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}
.card .rating i {
  font-size: 18px;
  color: gold;
  margin: 0 2px;
}
.card .button {
  display: flex;
  justify-content: space-around;
  width: 110%;
  margin-top: 20px;
}
.card .button button {
  background: black;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: .3s;
}
.card .button button:hover {
  background: #fff;
}
.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  background: #cd944f;
  border-radius: 25px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #cd944f;
}
