@import url('https://fonts.googleapis.com/css2?family=poppins:200,300,400,500,600,700.800,900&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans sarif;
}
body
{
/* background:linear-Gradient( 90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%); */
background-color:#f5e4c5;
}
.ContactUs
{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.ContactUs .title
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}
.ContactUs .title h2
{
   /* color: #fff; 
   font-weight: 500; */
   color: #110f0f;
   font-weight: 500;
   font-size: bold;

}
 
 .form
 {
    grid-area: form;
 }
 .info
 {
    grid-area: info;
 }
 .map
 {
    grid-area: map;
 }
 .contact
 {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);

 }
 .box
 {
    position:relative;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;

 }
 .contact h3{
    color:#0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom:  10px; ;
 }

 .formbox
 {
    position: relative;
    width: 100%;

 }
 .formbox .row50
 {
    display: flex;
    gap: 20px;
 }
 .inputbox
 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;

 }
 .formbox .row50 .inputbox
 {
    width: 100%;
 }
 .inputbox span
 { color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
 }
 .inputbox input{
    padding: 10px;
    font-size: 1.1em;
    outline:none;
    border: 1px solid #333;
 }
 .inputbox textarea
 {
    padding: 10px;
    font-size: 1.1em;
    outline:none;
    border: 1px solid #333;
    resize: none;
    min-height: 180px;
    margin-bottom: 10px;

 }
 .inputbox input[type="submit"]
 {
    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;

 }
 .inputbox ::placeholder
 {
    color: #999;
 }
 .info
 {
   background: #0e3959;

 }
 .info h3
 {
   color: #fff;
 }
 .info .infobox div
{
   display: flex;
   align-items: center;
   margin-bottom: 10px;


}

.info .infobox div span
{
   min-height:25px;
   height: 20px;
   color: #fff;
   background: #18b7ff;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5em;
   border-radius: 50%;
   margin-right: 15px;
}

.info .infobox div p
{
   color: #fff;
   font-size: 1.1em;

}

.info .infobox div a
{
   color: #fff;
   text-decoration: none;
   font-size: 1.1em;

}

.sci
{
   margin-top: 40px;
   display: flex;

}

.sci li
{
   list-style: none;
   margin-right:15px;

}
.sci li a
{
   color: #fff;
   font-size: 2em;
   color: #ccc;

}
.sci li a:hover
{
   color: #fff;
}

.map
{
   padding: 0;

}
 .map iframe
 {
   height: 100%;
   width: 100%;
 }
@media (max width: 991px)
{ 
   body
   {
      background: #03a9f5;
   }
   .ContactUs
   {
      padding: 20px;
   }
   .box {
     
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
          "form"
          "info"
          "map";
}
.map
{
   padding: 0; min-height: 300px;
}
.formbox .row50
{
   display: flex;
   gap: 0;
   flex-direction: column;
}
.inputbox
{
   width: 100%;
}
}